.Shipment{
    background-color: #eee;

    .flex-v-center{
        display: flex;
        align-items: center;
    }

    .impress{
        text-transform: uppercase;
        font-weight: 900;
    }

    .content{
        min-height:550px;
        margin-left: 265px;
        margin-top: 60px;
        padding: 10px;
    }

    .row{
        margin-left: 0px !important;
    }

    input{
        min-height: 30px;
    }
    span{
        min-height: 30px;
    }
    .hiden-btn{
        background-color: inherit;
        border: none;
    }

    .status{
        color: white;
        border-radius: 5px;
        padding: 0 5px 0 5px;
    }
    .status-waiting{
        background-color: #f4ba01 !important;
    }
    .status-processing{
        background-color: #d482ca !important;
    }
    .status-waiting2deliver{
        background-color: #81d742 !important;
    }
    .status-delivering{
        background-color: #8b19e6 !important;
    }
    .status-delivered{
        background-color: #73a724 !important;
    }
    .status-done{
        background-color: #19f0d0 !important;
    }
    .status-cancled{
        background-color: #ab1600;
    }


    .img-preview{
        padding: 5px;
    }

    .btn{
        min-height: 35px;
    }

    label{
        font-weight: bolder;
    }

    table{
        margin-bottom: 10px;
    }

}

